body {
  background: linear-gradient(to top, #f2f2f2, #e9e9e9);
}

#container {
  border: 0.25rem black solid;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  z-index: 2;
}

#slide-text {
  font-family: cursive;
  font-size: 3rem;
  max-width: 30rem;
  height: auto;
  position: absolute;
  bottom: 20rem;
  z-index: 1;
  color: gray;
}

#image:hover {
  animation-name: slide;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slide {
  100% {
    opacity: 0.5;
  }
}
